html, body { height:100%; margin:0px; }

body {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.no-print-page {
    width: 21cm;
    margin: 0 auto;
    padding: 10px;
}

.page {
	font-size: 12px;
	font-family:'Times New Roman', Times, serif;
    position: relative;
    width: 21cm;
    min-height: 29.3cm;
    max-height: 29.3cm;
	padding: 1cm;
	margin: 1cm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.footer {
	width: 17cm;
	min-height: 2cm;
	max-height: 2cm;
	padding: 0.5cm;
	position: absolute;
      	bottom: 0;
}

@media print {
    @page {
        size: A4;
        margin: 1cm;
    }
    .page {
		margin: 0;
		border: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
		page-break-after: always;
	}
	.no-print-page {
		display: none;
	}
}

/* bootstrap override */
.table thead th {
	text-align: center;
    border-bottom: 1px solid #000000!important;
}
.table-bordered td, .table-bordered th {
	border: 1px solid #000000!important;
}
/* bootstrap override */

/* add */
.table tbody th, .table th {
	text-align: center;
	vertical-align: middle;
	word-break: keep-all;
}
/* add */