html, body { height:100%; margin:0px; }

body {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.no-print-page {
    width: 21cm;
    margin: 0 auto;
    padding: 10px;
}

.page {
	font-size: 12px;
	font-family:'Times New Roman', Times, serif;
    position: relative;
    width: 21cm;
    min-height: 29.7cm;
	padding: 2cm;
	margin: 1cm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.footer {
	width: 17cm;
	min-height: 2cm;
	max-height: 2cm;
	padding: 0.5cm;
	position: absolute;
      	bottom: 0;
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }
    .page {
		margin: 0;
		border: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
		page-break-after: always;
	}
	.no-print-page {
		display: none;
	}
}

/* bootstrap 일부 참조 및 수정 */
.table {
	width: 100%;
	margin-bottom: 1rem;
	background-color: transparent
}
.table td, .table th {
	padding: .75rem;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #000000
}
.table thead th {
	vertical-align: middle;
	border-bottom: 2px solid #000000
}
.table tbody + tbody {
	border-top: 2px solid #000000
}
.table .table {
	background-color: #fff
}
.table-sm td, .table-sm th {
	padding: .3rem
}
.table-bordered {
	border: 1px solid #000000
}
.table-bordered td, .table-bordered th {
	border: 1px solid #000000
}
.table-bordered thead td, .table-bordered thead th {
	border-bottom-width: 2px
}
.table {
	border-collapse: collapse !important
}
.table td, .table th {
	background-color: #fff !important
}
.table-bordered td, .table-bordered th {
	border: 1px solid #000000 !important
}
.table caption {
	padding-top: 2px!important;
	padding-bottom: 2px!important;
}
.text-left{text-align:left!important}
.text-right{text-align:right!important}
.text-center{text-align:center!important}
.text-nowrap{white-space:nowrap!important}