{% load humanize %}

<div class="page">
    <center>
        <span style="font-size: 30px;font-weight: bold;">{{ year }}년 예산총괄표</span>
    </center>
    <div style="width: 650px; margin-top: 50px;">
        <div style="width: 48%;float: left;">
            <h2>1.세입</h1>
                <table width="100%" height="100%" style="border-collapse:collapse;" border="1" cellpadding="5">
                    <caption style="caption-side: top;text-align: right;">( 단위 : 원 )</caption>
                    <thead class="thead-light text-center">
                        <tr>
                            <th>관별</th>
                            <th>예산액</th>
                            <th>전년도<br>예산액</th>
                            <th>증감</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        {% for isubsection in general.isubsection_list %}
                        <tr>
                            <td>{{ isubsection.context }}</td>
                            <td style="text-align:right;">{{ isubsection.s_total|intcomma }}</td>
                            <td style="text-align:right">{{ isubsection.xs_total|intcomma }}</td>
                            <td style="text-align:right">{{ isubsection.ds_total|intcomma }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>세입계</th>
                            <th style="text-align:right">{{ general.is_total|intcomma }}</th>
                            <th style="text-align:right">{{ general.is_xtotal|intcomma }}</th>
                            <th style="text-align:right">{{ general.is_dtotal|intcomma }}</th>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div style="width: 48%;float: right;">
            <h2>2.세출</h1>
                <table width="100%" height="100%" style="border-collapse:collapse;" border="1" cellpadding="5">
                    <caption style="caption-side: top;text-align: right;">( 단위 : 원 )</caption>
                    <thead class="thead-light text-center">
                        <tr>
                            <th>관별</th>
                            <th>예산액</th>
                            <th>전년도<br>예산액</th>
                            <th>증감</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        {% for osubsection in general.osubsection_list %}
                        <tr>
                            <td>{{ osubsection.context }}</td>
                            <td style="text-align:right;">{{ osubsection.s_total|intcomma }}</td>
                            <td style="text-align:right">{{ osubsection.xs_total|intcomma }}</td>
                            <td style="text-align:right">{{ osubsection.ds_total|intcomma }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>세출계</th>
                            <th style="text-align:right">{{ general.os_total|intcomma }}</th>
                            <th style="text-align:right">{{ general.os_xtotal|intcomma }}</th>
                            <th style="text-align:right">{{ general.os_dtotal|intcomma }}</th>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
