<div class="page">
	<center>
		<table width="80%" style="border-collapse:collapse;font-size:30px;text-align:center;margin:150px 0px" border="1" cellpadding="25">
			<tr><th>{{ year }}년도 보육사업 예산서</th></tr>
		</table>
		<div style="margin:200px 150px;text-align:left;">
			<ul style="list-style-type:square;font-size:30px">
				<li style="margin-bottom: 50px;">세입/세출 총괄표</li>
				<li>세입/세출 예산서</li>
			</ul>
		</div>
	</center>
	<h1 style="text-align:center;font-size:30px;">{{ business }}</h1>
</div>
