{% extends 'accounting/base.html' %}

{% block menu %}
	{% include 'accounting/menu.html' %}
{% endblock %}

{% block content %}
	<h1>계좌{% if editType == "create" %}등록{% else %}수정{% endif %}</h1>
	<span class="text-danger">
		계좌번호 및 은행정보는 수정이 불가능합니다. 해당 내용을 잘못 입력한 경우 계좌를 삭제 후 다시 등록해주세요.<br>
		계정삭제는 시스템관리자를 통해 문의 바랍니다.
	</span>
	<form name="writeForm" id="writeForm" method="POST">
		{% csrf_token %}
		<table class="table table-sm">
		{% if form.errors %}
		<tr>
			<td colspan=2><p>{{ form.errors|striptags }}</p></td>
		</tr>
		{% endif %}
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
			<tr>
				<td>
				{{ field.label }}
				{% if field.field.required %}
				<span class="field-required">*</span>
				{% endif %}
				</td>
				<td>
				{{ field }}
				</td>
			<tr>
			{% if field.errors %}
			<tr>
				<td></td>
				<td>
				<span class="field-error">
				{{ field.errors|striptags }}
				</span>
				</td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
		<button class="btn btn-outline-primary" type="submit">{% if editType == "create" %}등록{% else %}수정{% endif %}</button>
		<button type="button" class="btn btn-outline-primary" onclick="cancelCheck();">취소</button>
	</form>

<script type="text/javascript">
$(function() {
	$('#id_bank').trigger("change");
	{% if editType != "create" %}
	$("#id_bank").attr('readonly', true);
	$("#id_bank option").not(":selected").attr("disabled", "disabled");
	$("#id_account_number").attr('readonly', true);
	{% endif %}
})

$('#id_bank').on("change", function() {
	/* 인터넷뱅킹 및 조회용 ID, PW 필요은행
	* 04 국민은행	26 신한은행		31 대구은행
	* 48 신협		91 케이뱅크
	*/
	if (['04', '26', '31', '48', '91'].includes(this.value))
		setDataRequired('required');
	else
		setDataRequired('disabled');
});

function setDataRequired(attr) {
	var removeAttr = (attr == 'required') ? 'disabled' : 'required';
	$('#id_webid').attr(attr, true);
	$('#id_webpw').attr(attr, true);
	$('#id_webid').removeAttr(removeAttr);
	$('#id_webpw').removeAttr(removeAttr);
}
</script>
{% endblock %}
