{% extends 'accounting/base.html' %}
{% load humanize %}
{% load mathfilters %}

{% block menu %}
	{% include 'accounting/menu.html' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12 mt-1">
		<form method="GET">
			<table class="table table-sm table-bordered">
				<colgroup>
					<col width="10%"/>
					<col />
					<col width="10%"/>
				</colgroup>
				<tr>
					<td rowspan="2">구분선택</td>
					<td>
						<select name="year">
							{% for y in year_range %}
							<option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
							{% endfor %}
						</select>
					</td>
					<td rowspan="2">
						<input type="submit" class="btn btn-primary btn-sm py-0" value="조회">
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div class="row mb-4">
	<div class="col-md-12">
		<center><h1 class="mt-3 mb-3">연별시산표</h1></center>
		<div class="table-responsive">
			<table class="table table-bordered table-sm">
				<thead class="thead-light text-center text-nowrap">
					<tr>
						<th>구분</th>
						<th>코드</th>
						<th>계정명</th>
						<th>예산액</th>
						<th>결산액</th>
						<th>비율</th>
						{% for ym in ym_list %}
						<th>{{ ym.y }}년 {{ ym.m }}월</th>
						{% endfor %}
						<th>총합계</th>
					</tr>
				</thead>
				<tbody class="text-center align-middle">
					{% for item in item_list %}
					<tr>
						<td class="tdType">{% if item.paragraph.subsection.type == "수입" %}세입{% elif item.paragraph.subsection.type == "지출" %}세출{% endif %}</td>
						<td style="white-space:nowrap;">{{ item.paragraph.subsection.code }}{{ item.paragraph.code }}{{ item.code }}</td>
						<td style="white-space:nowrap;">{{ item.context }}</td>
						<td class="text-right">{{ item.budget_amount|intcomma }}</td>
						<td class="text-right">{{ item.settlement_amount|intcomma }}</td>
						<td style="text-align: right;">
						{% if item.budget_amount != 0 %}
							{{ item.settlement_amount|mul:100|intdiv:item.budget_amount }}%
						{% else %}
							0%
						{% endif %}
						</td>
						{% for ms in item.ms_list %}
						<td class="text-right">{{ ms|intcomma }}</td>
						{% endfor %}
						<td class="text-right">{{ item.settlement_amount|intcomma }}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">세입합계</td>
						<td style="text-align: right;">{{ item_list.input_budget_total|intcomma }}</td>
						<td style="text-align: right;">{{ item_list.input_settlement_total|intcomma }}</td>
						<td style="text-align: right;">
							{% if item_list.input_budget_total != 0 %}
								{{ item_list.input_settlement_total|mul:100|intdiv:item_list.input_budget_total }}%
							{% else %}
								0%
							{% endif %}
						</td>
						{% for month_total in month_total_list %}
						<td style="text-align: right;">{{ month_total.input|intcomma }}</td>
						{% endfor %}
						<td style="text-align: right;">{{ item_list.input_settlement_total|intcomma }}</td>
					</tr>
					<tr>
						<td colspan="3">세출합계</td>
						<td style="text-align: right;">{{ item_list.output_budget_total|intcomma }}</td>
						<td style="text-align: right;">{{ item_list.output_settlement_total|intcomma }}</td>
						<td style="text-align: right;">
							{% if item_list.output_budget_total != 0 %}
								{{ item_list.output_settlement_total|mul:100|intdiv:item_list.output_budget_total }}%
							{% else %}
								0%
							{% endif %}
						</td>
						{% for month_total in month_total_list %}
						<td style="text-align: right;">{{ month_total.output|intcomma }}</td>
						{% endfor %}
						<td style="text-align: right;">{{ item_list.output_settlement_total|intcomma }}</td>
					</tr>
					<tr>
						<td colspan="3">잔액(세입합계-세출합계)</td>
						<td style="text-align: right;">{{ item_list.input_budget_total|sub:item_list.output_budget_total|intcomma }}</td>
						<td style="text-align: right;">{{ item_list.input_settlement_total|sub:item_list.output_settlement_total|intcomma }}</td>
						<td style="text-align: right;">
							{% if item_list.input_budget_total|sub:item_list.output_budget_total != 0 %}
								{{ item_list.input_settlement_total|sub:item_list.output_settlement_total|mul:100|intdiv:item_list.input_budget_total|sub:item_list.output_budget_total }}%
							{% else %}
								0%
							{% endif %}
						</td>
						{% for month_total in month_total_list %}
						<td style="text-align: right;">{{ month_total.input|sub:month_total.output|intcomma }}</td>
						{% endfor %}
						<td style="text-align: right;">{{ item_list.input_settlement_total|sub:item_list.output_settlement_total|intcomma }}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	getRowspan("tdType");
});

function getRowspan(className) {
	$("." + className).each(function() {
		var rows = $("." + className + ":contains('" + $(this).text() + "')");
		if (rows.length > 1) {
			rows.eq(0).attr("rowspan", rows.length);
			rows.not(":eq(0)").remove();
		}
	});
}
</script>

{% endblock %}

