{% extends 'accounting/base.html' %}

{% block content %}
<h1 class="mb-3">사업등록</h1>

<div class="row mb-4">
	<div class="col-md-12">
		<form method="POST" class="business-form" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="ceo_stamp_change" value="false">
			<input type="hidden" name="manager_stamp_change" value="false">
			<input type="hidden" name="business_stamp_change" value="false">

			<table class="table table-sm">
				{% for field in form %}
				<tr>
					<td>
						{{ field.label }}
						{% if field.field.required %}
						<span class="field-required">*</span>
						{% endif %}
					</td>
					<td>
						{{ field }}
						{% if field.name == 'zip_number' %}
						<style>
							#id_zip_number {display: inline; width: 20%; float: left;}
						</style>
						<input type="button" class="btn btn-sm btn-primary btn-zip-search float-left" onclick="ZipSearchDaumPostcode()" value="우편번호 찾기">
						{% endif %}
					</td>
					</tr>
					{% if field.errors %}
					<tr>
						<td></td>
						<td>
							<span class="field-error">
								{{ field.errors|striptags }}
							</span>
						</td>
					</tr>
					{% endif %}
					{% endfor %}
			</table>
			<button type="submit" class="save btn btn-outline-primary">등록</button>
			<button type="button" class="btn btn-outline-primary" onclick="cancelCheck();">취소</button>
		</form>
	</div>
</div>
<script>
	$("#id_ceo_stamp").on("change", function () {
		$("input[name='ceo_stamp_change']").val(true);
	});
	$("#id_manager_stamp").on("change", function () {
		$("input[name='manager_stamp_change']").val(true);
	});
	$("#id_business_stamp").on("change", function () {
		$("input[name='business_stamp_change']").val(true);
	});
</script>
{% include 'accounting/zip_search.html' %}
{% endblock %}
