{% extends 'accounting/base.html' %}

{% block menu %}
	{% include 'accounting/admin_menu.html' %}
{% endblock %}

{% block content %}
<h1 class="mb-3">erowm 계좌조회</h1>
<span class="text-danger">뱅크다 계좌목록과 상이할 경우 뱅크다 연동기능 검토가 필요합니다.</span>

<div class="row mb-4">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-sm th-nowrap td-nowrap">
				<thead class="thead-light text-nowrap">
					<tr>
						<th>번호</th>
						<th>사용자ID</th>
						<th>사용자명</th>
						<th>상호명</th>
						<th>계좌구분</th>
						<th>은행명</th>
						<th>계좌별명</th>
						<th>계좌번호</th>
						<th>계좌상태</th>
						<th>계좌상세</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					{% for account in accounts %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ account.business.owner.profile.user.username }}</td>
						<td>{{ account.business.owner.name }}</td>
						<td>{{ account.business.name }}</td>
						<td>{% if account.bkdiv == 'C' %}법인{% elif account.bkdiv == 'P' %}개인{% endif %}</td>
						<td>{{ account.bank.name }}</td>
						<td>{{ account.renames}}</td>
						<td>{{ account.account_number }}</td>
					{% if account.bankda.acttag == "T" %}
						<td>정상</td>
					{% else %}
						<td class="text-danger font-weight-bold">오류</td>
					{% endif %}
						<td {% if account.bankda.acttag == "F" %} class="text-danger font-weight-bold"{% endif %}>{{ account.bankda.act_status }}</td>
						<td>
							<input type="hidden" id="user_{{ forloop.counter }}" value="{{ account.business.owner.profile.user.username }}"/>
							<input type="hidden" id="user_pk_{{ forloop.counter }}" value="{{ account.business.owner.profile.user.pk }}"/>
							<input type="hidden" id="account_{{ forloop.counter }}" value="{{ account.account_number }}"/>
							<input type="hidden" id="account_pk_{{ forloop.counter }}" value="{{ account.pk }}"/>
							<input type="button" class="btn btn-sm btn-danger" name="btnDelete" value="삭제" onclick="accountDelete('{{ forloop.counter }}');">
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
function accountDelete(index) {
	var user = $("#user_" + index).val();
	var user_pk = $("#user_pk_" + index).val();
	var account = $("#account_" + index).val();
	var account_pk = $("#account_pk_" + index).val();

	if(!confirm("계좌 삭제 시 DB와 뱅크다의 계좌정보가 모두 삭제됩니다.\n" + user + "의 계좌(" + account + ")를 삭제하시겠습니까?")) {
		return false;
	}

	$.ajax({
		type: "POST",
		url: "{% url 'account_delete' %}",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}'
			, 'user_pk': user_pk
			, 'account_pk': account_pk
		},
		dataType: "json",
		success: function(data) {
			if( data.result == "OK" ) {
				alert("계좌가 정상적으로 삭제되었습니다.");
			}
			else {
				alert(data.result);
			}
			window.location.reload();
		},
		error: function(request, status, error) {
			alert(request.status);
		}
	});
}
</script>
{% endblock %}
