{% extends 'accounting/base.html' %}

{% block content %}
<h1>내정보관리</h1>
<div class="table-responsive">
	<form method="POST">
	{% csrf_token %}
	<input type="hidden" name="username" id="username" value="{{ user.username }}"/>
	{{ form.bankda_password }}
	<table class="table table-bordered">
		<tr>
			<td class="td1">사업장명</td>
			<td>{{ form.place_name }}</td>
			<td class="td1">사업자등록번호</td>
			<td>{{ form.reg_number }}</td>
		</tr>
		<tr>
			<td class="td1">업태</td>
			<td>{{ form.type1 }}</td>
			<td class="td1">업종</td>
			<td>{{ form.type2 }}</td>
		</tr>
		<tr>
			<td class="td1">대표자성명</td>
			<td>{{ form.name }}</td>
			<td class="td1">대표자주민번호</td>
			<td>
				<div class="form-inline">
					{{ form.owner_reg_number1 }}
					<span style="margin: 0px 6px 0px 3px;">-</span>
					{{form.owner_reg_number2 }}
				</div>
			</td>
		</tr>
		<tr>
			<td class="td1">이메일</td>
			<td>{{ form.email }}</td>
			<td class="td1">핸드폰번호</td>
			<td>{{ form.cellphone }}</td>
		</tr>
		<tr>
			<td class="td1">전화번호</td>
			<td>{{ form.phone }}</td>
			<td class="td1">팩스</td>
			<td>{{ form.fax }}</td>
		</tr>
		<tr>
			<td class="td1" rowspan=2>주소</td>
			<td colspan=3><div class="form-inline">{{ form.zip_number }}<input type="button" class="btn btn-sm btn-primary btn-zip-search" onclick="ZipSearchDaumPostcode()" value="우편번호 찾기"></div></td>
		</tr>
		<tr>
			<td colspan=3>
				{{ form.address }}
				{{ form.detailed_address }}
			</td>
		</tr>
		{% if request.session.master_login is True %}
		<tr>
			<td>뱅크다 패스워드</td>
			<td colspan="3">
				<input type="text" class="form-control input-sm" name="user_pw_new" id="user_pw_new"
					maxlength="10" placeholder="뱅크다 패스워드를 수정할 경우에만 입력하세요. 특별한 경우가 아니라면 수정하지 말 것!"/>
			</td>
		</tr>
		{% endif %}
		{% for field in form %}
		{% if field.errors %}
		<tr>
			<td colspan=4>{{ field.label_tag }}{{ field.errors }}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	<div class="clearfix float-right">
		<button type="submit" class="save btn btn-outline-primary">등록</button>
		<a href="{% url 'mypage' %}" class="btn btn-outline-primary">취소</a>
	</div>
	</form>
</div>
	{% include 'accounting/zip_search.html' %}
{% endblock %}
