{% extends 'accounting/print_base.html' %}
{% load humanize %}

{% block content %}

<!-- 표지 -->
{% include 'accounting/print/settlement/_cover.html' %}

<!-- 세입·세출결산 총괄 설명 -->
{% include 'accounting/print/settlement/_general_rule.html' %}

<!-- 세입·세출결산 총괄표 -->
{% include 'accounting/print/settlement/_general.html' %}

<!-- 세입결산서 -->
{% include 'accounting/print/settlement/_revenue.html' %}

<!-- 세출결산서 -->
{% include 'accounting/print/settlement/_expenditure.html' %}

<!-- 정부보조금명세서 -->
{% include 'accounting/print/settlement/_bojo.html' %}

{% endblock %}
