{% extends 'accounting/base.html' %}

{% block menu %}
	{% include 'accounting/admin_menu.html' %}
{% endblock %}

{% block content %}
<h1 class="mb-3">사용승인관리</h1>

<div class="row">
	<div class="col-md-12">
		<div class="search float-right">
			<form action="" method="get">
				<select name="where">
					<option value="place_name">상호</option>
					<option value="name">대표</option>
					<option value="sales">취급자</option>
				</select>
				<input type="text" name="keyword"/>
				<input type="submit" value="검색" />
			</form>
		</div>
	</div>
</div>

<div class="row mb-4">
	<div class="col-md-12">
		<form action="{% url 'sales_change' %}" method="POST" onSubmit="return submitCheck(this);">
			{% csrf_token %}
			<div class="col-md-12 bg-light">
				인증관리
				<select name="select_auth">
					<option value="" selected>--선택--</option>
					<option value=0>회원인증</option>
					<option value=1>인증보류</option>
				</select>
				취급자선택
				<select name="select_sales">
					<option value="" selected>--선택--</option>
					{% for s in sales %}
					<option value="{{ s.id }}">{{ s.name }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="변경" />
			</div>
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-sm th-nowrap td-nowrap mb-3">
					<thead class="thead-light text-center text-nowrap">
						<tr>
							<th><input type="checkbox"></th>
							<th>번호</th>
							<th>회원번호</th>
							<th>회원상태</th>
							<th>상호</th>
							<th>대표</th>
							<th>아이디</th>
							<th>연락처</th>
							<th>가입일</th>
							<th>최종접속일</th>
							<th>취급자</th>
							<th>삭제</th>
						</tr>
					</thead>
		
					<tbody class="text-nowrap">
						{% for owner in owners %}
						<tr>
							<td class="text-center"><input type="checkbox" name="check_list[]" value="{{ owner.id }}"></td>
							<td>{{ forloop.counter }}</td>
							<td class="text-center">{{ owner.id }}</td>
							<td class="text-center">{% if owner.is_demo %}인증보류{% else %}회원인증{% endif %}</td>
							<td>{{ owner.place_name }}</td>
							<td>{{ owner.name }}</td>
							<td>{{ owner.profile.user.username }}</td>
							<td>{{ owner.cellphone }}</td>
							<td>{{ owner.profile.user.date_joined|date:"Y-m-d" }}</td>
							<td>{{ owner.profile.user.last_login|date:"Y-m-d" }}</td>
							<td>{{ owner.sales }}</td>
							<td>
								<input type="hidden" id="username_{{ forloop.counter }}" value="{{ owner.profile.user.username }}">
								<input type="hidden" id="bankda_password_{{ forloop.counter }}" value="{{ owner.bankda_password }}">
								<input type="button" class="btn btn-primary btn-sm" value="삭제" onclick="deleteUser('{{ forloop.counter }}');">
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
function submitCheck(f) {
	if (f.select_auth.value == '') {
		alert('회원상태를 선택해주세요.');
		f.select_auth.focus();
		return false;
	}
	if (f.select_sales.value == '') {
		alert('취급자를 선택해주세요.');
		f.select_sales.focus();
		return false;
	}
	if (!$('input[name="check_list[]"]').is(":checked")) {
		alert('회원을 선택해주세요.');
		return false;
	}
}

function deleteUser(index) {
	if(!confirm("DB와 뱅크다의 회원정보가 모두 삭제됩니다. 삭제하시겠습니까?")) {
		return;
	}

	$.ajax({
		type: "POST",
		url: "{% url 'user_delete' %}",
		data: {
			'csrfmiddlewaretoken': '{{ csrf_token }}'
			,'username': $("#username_" + index).val()
			,'bankda_password': $("#bankda_password_" + index).val()
		},
		dataType: "json",
		success: function(data) {
			if( data.result == "OK" ) {
				alert("계정이 정상적으로 삭제되었습니다.");
			}
			else {
				alert(data.result);
			}
			window.location.reload();
		},
		error: function(request, status, error) {
			alert(request, status, error);
		}
	});
};
</script>
{% endblock %}
