{% load humanize %}
{% load mathfilters %}

<div class="page" style="font-size: 13px;">
    <center>
        <span style="font-size: 30px;font-weight: bold;">세입·세출결산 총괄 설명</span>
    </center>
    <span style="word-wrap:break-word;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-o-pre-wrap;word-break:break-all;">



        ○ 세입 예산 {{ general.revenue_budget_total|intcomma }} 원에 대하여 수납액은 {{ general.revenue_settlement_total|intcomma }} 원이며

        ○ 세출 예산 {{ general.expenditure_budget_total|intcomma }} 원에 대하여 지출액은 {{ general.expenditure_settlement_total|intcomma }} 원이며

        ○ 그 차인잔액은 {{ general.revenue_settlement_total|sub:general.expenditure_settlement_total|intcomma }} 원으로서 보조금집행잔액 0 원이 포함되어 있으며

           이를 공제한 순이월금은 {{ general.revenue_settlement_total|sub:general.expenditure_settlement_total|intcomma }} 원이다.


        ○ 세입세출결산 총괄
        <table class="table table-sm table-bordered" style="margin-left: 30px;width: 90%;">
            <thead>
            <tr>
                <th>수납액</th>
                <th>지출액</th>
                <th>차인잔액</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <td>{{ general.revenue_settlement_total|intcomma }}원</td>
                <td>{{ general.expenditure_settlement_total|intcomma }}원</td>
                <td>{{ general.revenue_settlement_total|sub:general.expenditure_settlement_total|intcomma }}원</td>
            </tr>
            </tbody>
        </table>

        ○ 세입세출외 적립금 결산보고
        <table class="table table-sm table-bordered" style="margin-left: 30px;width: 90%;">
            <colgroup>
                <col width="30%">
                <col width="18%">
                <col width="18%">
                <col width="16%">
                <col width="18%">
            </colgroup>
            <tr>
                <th rowspan="4">구분</th>
                <th>예금주</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th>적립기관</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th>적립기간</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th>전 회계연도 적립액(A)</th>
                <th>당 회계연도 적립액(B)</th>
                <th>인출액(C)</th>
                <th>누적 적립액(A+B-C)</th>
            </tr>
            <tr>
                <th>일반적립금</th>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
            </tr>
            <tr>
                <th>퇴직적립금</th>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
            </tr>
            <tr>
                <td colspan="5" class="text-left">A : 전 회계연도 결산 시 누적 적립액</td>
            </tr>
            <tr>
                <td colspan="5" class="text-left">B : 당해 회계연도 내 적립금 계정과목(511목)으로 실제 집행된 적립금 누계액 기재</td>
            </tr>
            <tr>
                <td colspan="5" class="text-left">C : 적립금 사용을 위해 인출한 금액 (세입예산 중 적립금 처분수입<611목>으로 편성된 금액)</td>
            </tr>
            <tr>
                <td colspan="5" class="text-left">D : 적립금 예산잔액 증명서 내 누적 적립액 기재</td>
            </tr>
        </table>
    </span>
</div>
